%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{require_min_otp_vsn, "R17"}.

{erl_opts, [warn_export_all,
            warn_unused_import,
            {i, "include"},
			{src_dirs, ["src"]}]}.

{eunit_opts, [verbose]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, false}.

{validate_app_modules, true}.

{sub_dirs, [
    "rel", 
    "apps/log_server"]}.


{deps, [
		 {lager,   ".*", {git, "ssh://git@kfchain.com:7999/deps/lager.git",{branch, "master"}}},
 		 {goldrush, ".*", {git, "ssh://git@kfchain.com:7999/deps/goldrush.git", {branch,"master"}}},
         {mysql, ".*", {git, "ssh://git@kfchain.com:7999/deps/mysql.git", {branch,"master"}}},
 		 {poolboy, ".*", {git, "ssh://git@kfchain.com:7999/deps/poolboy.git", {branch,"master"}}},
         {mysql_poolboy, ".*", {git, "ssh://git@kfchain.com:7999/deps/mysql_poolboy.git", {branch,"master"}}},
 		 {pbkdf2, ".*", {git, "ssh://git@kfchain.com:7999/deps/pbkdf2.git", {branch,"master"}}},
 		 {bson, ".*", {git, "ssh://git@kfchain.com:7999/deps/bson.git", {branch,"master"}}},
 		 {mongodb, ".*", {git, "ssh://git@kfchain.com:7999/deps/mongodb.git", {branch,"master"}}},
         {et_lib,  ".*", {git, "ssh://git@kfchain.com:7999/deps/et_lib.git", {branch,"master"}}},
         {mcast,  ".*", {git, "ssh://git@kfchain.com:7999/deps/mcast.git", {branch,"master"}}}
       ]}.
