{sys, [
  {lib_dirs, ["../apps", "../deps"]},
  {erts, [{mod_cond, derived}, {app_file, strip}]},
  {app_file, strip},
  {rel, "log_server", "1.0.0.0",
    [
      kernel,
      stdlib,
      sasl,
      syntax_tools,
      ssl,
      crypto,
      os_mon,
      inets,
      poolboy,
      mongodb,
      mysql_poolboy,
      mcast,
      bson,
      pbkdf2,
      log_server
    ]},
  {rel, "start_clean", "",
    [
      kernel,
      stdlib
    ]},
  {boot_rel, "log_server"},
  {profile, embedded},
  {incl_cond, derived},
  %{mod_cond, derived},
  {excl_archive_filters, [".*"]}, %% Do not archive built libs
  {excl_sys_filters, ["^bin/(?!start_clean.boot)",
    "^erts.*/bin/(dialyzer|typer)",
    "^erts.*/(doc|info|include|lib|man|src)"]},
  {excl_app_filters,  ["\.gitignore"]},
  {app, kernel,       [{incl_cond, include}]},
  {app, stdlib,       [{incl_cond, include}]},
  {app, sasl,         [{incl_cond, include}]},
  {app, crypto,       [{mod_cond, app}, {incl_cond, include}]},
  {app, ssl,          [{mod_cond, app}, {incl_cond, include}]},
  {app, os_mon,       [{mod_cond, app}, {incl_cond, include}]},
  {app, syntax_tools, [{mod_cond, app}, {incl_cond, include}]},
  {app, public_key,   [{mod_cond, app}, {incl_cond, include}]},
  {app, log_server,   [{mod_cond, app}, {incl_cond, include}]},
  {app, hipe,         [{incl_cond, exclude}]}
]}.

{target_dir, "log_server"}.

{overlay, [
  {mkdir, "log/"},
  {mkdir, "etc/"},
  {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
  {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
  {copy, "files/log_server", "bin/log_server"},
  {copy, "files/log_server.cmd", "bin/log_server.cmd"},
  {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
  {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
  {copy, "files/auto_config.sh", "bin/auto_config.sh"},
  {copy, "files/sys.config.in", "etc/sys.config.in"},
  {copy, "files/sys.config", "etc/sys.config"},
  {copy, "files/vm.args", "etc/vm.args"},
  {copy, "files/vm.args.in", "etc/vm.args.in"}
]}.
